<div class='rounded_corner'>
<div id='<%= @options[:id] %>' class='<%= @options[:class]%>'  style='<%= @options[:style]%>' >
	<div class="wrap-corner">
		<div class="t-edge"><div class="l"></div><div class="r"></div></div>
    	<div class="l-edge">
			<div class="r-edge">
				<div class='box-content'>
					<%= @options[:body] %>
				</div>
	 		</div>
	    </div>
	   	<div class="b-edge"><div class="l"></div><div class="r"></div></div>
	</div>
</div>
</div>