<ul id="new-list-frontpage">
	<% for document in @documents %>
	    <li><%= link_to document.title, document %>
			<%= render :partial => 'ratings/smallrate',:locals => { :asset=>document }%>
	  	</li>
	<% end %>
</ul>