<% rounded_box :id=>'document-view' do %>
	<ul class='edit-buttoms'>
		<li><%= link_to image_tag('back-48.png'), :controller => 'documents', :action => 'list', :id =>  @document.section_id %></li>
	</ul>

	<h1><%=t :edit_document %></h1>
	<br/>
	<%= render :partial=>'form' %>
<%end%>
